# Xcode user-settings files
build/*
*.pbxuser
*.mode1v3
*.mode1

# Mac OS X specific
.DS_Store
profile
Resources/English.lproj/MainMenu~.nib/classes.nib
Resources/English.lproj/MainMenu~.nib/data.dependency
Resources/English.lproj/MainMenu~.nib/info.nib
Resources/English.lproj/MainMenu~.nib/keyedobjects.nib

__pycache__/

.codex
HANDOFF.md
